.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: 0 1 auto;
    padding: 15px;
}

.marker-form {
    margin: 0 0 15px;
}

input {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px 5px 0 0;
    font-size: 14px;
    width: 100%;
    max-width: 50%;
}

button {
    box-sizing: border-box;
    margin: 5px 5px 0 0;
    padding: 5px;
    font-size: 14px;
}

.error-text {
    margin: 5px 0;
    color: #cf0202;
}

/*points*/
.points {
    flex: 50%;
    max-width: 50%;
    padding: 0 50px 0 0;
}

.point-item {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px 0;
}

.point-item__delete {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAABpklEQVR4nO3dUW6DMBQAwVD13oaTpzcIH5bl0J05gEHJ6kl2QDle/9wY471y/eu6jpXrr/az+wbYSwBxAogTQJwA4gQQJ4C4R+9hX6/7ff7qffru688yAeIEECeAOAHECSBOAHECiFu+R139e3zd7DmDCRAngDgBxAkgTgBxAogTQNzv7AJ3+/zzPGcvwWdTzyOYAHECiBNAnADiBBAngDgBxE2fA9xxDvDdTIA4AcQJIE4AcQKIE0CcAOK2vxfgnOCzu8/HewFMEUCcAOIEECeAOAHECSBu+fMAs+72wbPnCE9ff5YJECeAOAHECSBOAHECiBNAnADiBBAngDgBxAkgTgBxAogTQJwA4gQQJ4A4AcQJIE4AcQKIE0CcAOIEECeAOAHECSBOAHECiBNAnADiBBAngDgBxAkgTgBxAogTQJwA4gQQJ4A4AcQJIE4AcQKIE0CcAOIEECeAOAHECSBOAHECiBNA3OP/N7C+/iwTIE4AcQKIE0CcAOIEECeAuGP3DYwx3rvv4Ztd17X0OzIB4gQQJ4A4AcQJIE4AcQIAAAAAiPgDON8xc2tJgEkAAAAASUVORK5CYII=') 50% 50% no-repeat;
    background-size: 100%;
}


/*route-map*/
.ya-map-container {
    flex: 50%;
    max-width: 50%;
}

.ya-map-container > div {
    width: 100% !important;
    max-width: 100% !important;
}


@media(max-width: 600px) {
    input, button {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .points {
        padding: 0 20px 0 0;
    }
}